$orange: #E16237;
$lightOrange: #ea9173;
$offWhite: #FEF2E2;
$darkOffWhite: #e4d9cb;
$lightOffWhite: #fef7ed;
$offWhiteOverlay: rgb(255,255,255,0.8);
$offWhiteComplement: #E2EEFE;
$darkBlue: #2C2E3C;
$midBlue: #37394B;
$lightBlue: #42445A;
$teal: #37B6E1;
$boxShadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
$red: #f64747;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&family=Roboto:ital,wght@1,300&display=swap');

html, body {
    height: 100%;
    font-weight: 400;
    font-family: 'Jost';
}

.app-wrapper, #root {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    height: 100%;
    align-items: center;
    transition: 0.5s;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .7;
    transition: 0.2s;
}
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    transition: 0.2s;
        .modalComp {
            z-index: 100;
            position: relative;
            margin: 1.75rem auto;
            border-radius: 3px;
            max-width: 500px;
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
        }
        .modal-header {
            display: flex;
            justify-content: flex-end;
            img {
                width: 125px;
                margin-bottom: 25px;
            }
        }
        .modal-close-button {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            opacity: .3;
            cursor: pointer;
            border: none;
        }
        .modalButtons {
            display: flex;
            align-items: center;
            justify-content: center;

            .button {
                margin: 10px;
            }
        }
    }

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
    img {
        width: 100px;
        height: 100px;
    }
}

.themeSwitcher {
    background: none;
    border: none;
    width: 30px;
    height: 30px;

    img {
        width: 100%;
    }
}

.pageTitle {
    h1 {
        font-size: 24px;
    }
}

.app-wrapper {
    .main {
        padding: 0;
        height: 90%;
    }

    .button {
        border: 0;
        border-radius: 5px;
        padding: 5px 10px;
        transition: 0.2s;
        transform: scale(1.00);
        text-align: center;
    }

    .button:hover {
        transition: 0.2s;
        transform: scale(1.01);
    }

    /** Nav Header **/
    header {
        width: 300px;
        min-width: 250px;
        height: 90%;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .divider {
            height: 2px;
            width: 100%;
            margin: 20px 0;
        }

        .sideNav {
            margin: 0 -10px;
        }
        ul li {
            margin: 0;
            font-size: 16px;
            transition: 0.2s;
            :hover {
                transition: 0.2s;
            }
        }

        .nav-link {
            padding: 10px;
        }
        .navbarBrandImg {
            text-align: center;
        }

        .modalLink {
            cursor: pointer;
        }

    }

    /** Hero **/
    .hero {
        min-height: 400px;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .hero-text {
            h1 {
                font-family: 'Jost';
                font-weight: 800;
                text-transform: uppercase;
            }
            h3 {
                font-weight: 400;
            }
        }
    }

    .pageTitleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: calc(100% - 18px);
        margin-bottom: 20px;
        .searchContainer {
            input {
                border-radius: 5px;
                padding: 5px 10px;
                &:focus {
                    outline: none;
                }
            }
        }
    }

    /** Individual Pot Grid **/
    .userPots {
        .potBox {
            padding: 10px;

            h2 {
                font-size: 16px;
                font-weight: 800;
                text-transform: uppercase;
            }

            .potInner {
                border-radius: 10px;
                width: 100%;
                padding: 10px;
                height: 400px;
                transition: 0.15s;
                position: relative;
                z-index:0;
                &:after {
                    content: "";
                    position: absolute;
                    border-radius: 10px;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                    transition: 0.15s;
                }
                &:hover {
                    cursor: pointer;
                    &:after {
                    transform: scale(1.03);
                    }
                }

                .potImage {
                    width: 100%;
                    height: 200px;
                    margin-bottom: 15px;
                }

                .clayType {
                    padding: 2px 5px;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 10px;
                    border-radius: 5px;
                    display: inline-block;
                    margin-bottom: 10px;
                }

                .potDescription {
                    height: 100px;
                    overflow: hidden;
                }
            }
        }
    }

    /** File Upload **/
    .uploadPotFormContainer {
        width: 500px;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px;
    }

    .uploadPotForm {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .errorMsg {
            font-size: 9px;
            color: $red;
            margin-top: -5px;
            width: 100%;
            display: flex;
            justify-content: end;
            margin-right: 10px;
        }

        label {
            font-size: 12px;
            margin-bottom: -5px;
            margin-left: 10px;
            width: 100%;
        }

        input, textarea, select {
            display: flex;
            width: 100%;
            margin: 10px;
            border-radius: 5px;
            border: 0;
            padding: 5px 10px;
            &.error {
                border-radius: 5px;
            }

            &[type=submit] {
                border: 0;
                display: block !important;
            }
        }

        .glazeAndCoatsContainer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 10px;

            * {
                margin: 0;
            }
            select {
                margin-right: 10px;
                display: flex;
            }
            input {
                width: 60px;
            }
        }

    }
}

/** Scrollbar **/
.custom-scrollbars__container {
    display: grid;
    height: 100%;
    grid-template: auto / 1fr 50px;
    overflow: hidden;
    position: relative;
  }
  
  .custom-scrollbars__content {
    height: 90vh;
    -ms-overflow-style: none;
    overflow: auto;
    padding: 10px;
    margin: -10px;
    scrollbar-width: none;
  }
  
  .custom-scrollbars__content::-webkit-scrollbar {
    display: none;
  }
  
  .custom-scrollbars__scrollbar {
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template: auto 1fr auto / 1fr;
    padding: 0;
    place-items: center;
  }
  
  .custom-scrollbars__track-and-thumb {
    display: block;
    height: 100%;
    position: relative;
    width: 16px;
  }

  .custom-scrollbars__button {
    height: 25px;
    width: 16px;
    border-radius: 50px;
    border: 0;
  }
  
  .custom-scrollbars__track {
    border-radius: 12px;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 16px;
  }
  
  .custom-scrollbars__thumb {
    border-radius: 12px;
    position: absolute;
    width: 16px;
  }
  

/** LIGHT THEME **/
/** LIGHT THEME **/
/** LIGHT THEME **/

.app-wrapper.light {
    background: $offWhite;
    color: $darkBlue;

    a {
        color: $orange;
    }

    .button {
        background: $orange;
        color: $offWhite;
        &:hover {
            background: $lightOrange;
        }
    }

    /** Modal Colors **/
    .modal-wrapper {
        .modalComp {
            background: $offWhite;
            box-shadow: $boxShadow;
        }
    }

    /** Nav Header **/
    header {
        background: $offWhite;
        box-shadow: $boxShadow;

        ul li {
            a {
                color: $darkBlue;
            }
            :hover {
                background: $lightOffWhite;
            }
            &.active {
                a {
                    color: $orange;
                }
            }
        }

        .divider {
            background: $darkOffWhite;
        }
    }

    /** Scrollbar Colors **/

    .custom-scrollbars__button {
        background: $lightOffWhite;
    }
      
    .custom-scrollbars__track {
        background-color: $lightOffWhite;
    }
    
    .custom-scrollbars__thumb {
        background-color: $lightOrange;
    }

    /** Hero **/
    .hero {
        color: $offWhite;
    }

    /** Sidebar **/
    .sidebar {
        background: $orange;
    }

    /** Individual Pot Grid **/
    .userPots {
        .potBox {
            a {
                color: $darkBlue;
                text-decoration: none;
            }
            .potInner {
                background:  $lightOffWhite;
                border: 0;
                box-shadow: $boxShadow;
                &:after {
                    background: $lightOffWhite;
                }
                .clayType {
                    border: 2px solid $teal;
                    color: $teal;
                }
            }
        }
    }

    .pageTitleContainer {
        .searchContainer {
            input {
                background: $lightOffWhite;
                border: 2px solid $lightOrange;
                color: $darkBlue;
            }
        }
    }

    /** File Upload **/
    .uploadPotFormContainer {
        background: $lightOffWhite;
        box-shadow: $boxShadow;
    }

    .uploadPotForm {

        .errorMsg {
            color: $red;
        }

        input, textarea, select {
            border: 2px solid $teal;
            background: $lightOffWhite;
            color: $darkBlue;
            
            &.error {
                border: 2px solid $red;
            }

            &[type=submit] {
                border: 0;
                background: $orange;
                color: $offWhite;
            }
        }

    }
}

/** DARK THEME **/
/** DARK THEME **/
/** DARK THEME **/

.app-wrapper.dark {
    background: $midBlue;
    color: $offWhite;

    a {
        color: $orange;
    }

    .button {
        background: $orange;
        color: $offWhite;
    }

    .button:hover {
        background: $lightOrange;
    }

    /** Nav Header **/
    header {
        background: $darkBlue;
        box-shadow: $boxShadow;

        ul li {
            a {
                color: $orange;
            }
            :hover {
                background: $midBlue;
            }
            &.active {
                a {
                    color: $lightOrange;
                }
            }
        }

        .divider {
            background: $lightBlue;
        }

    }

    /** Modal Colors **/
    .modal-wrapper {
        .modalComp {
            background: $darkBlue;
            box-shadow: $boxShadow;
        }
    }

    /** Scrollbar Colors **/

    .custom-scrollbars__button {
        background: $lightBlue;
    }
      
    .custom-scrollbars__track {
        background-color: $lightBlue;
    }
    
    .custom-scrollbars__thumb {
        background-color: $darkBlue;
    }

    /** Hero **/
    .hero {
        color: $offWhite;
    }

    /** Sidebar **/
    .sidebar {
        background: $orange;
    }

    .pageTitleContainer {
        .searchContainer {
            input {
                background: $lightBlue;
                border: 2px solid $teal;
                color: $offWhite;
            }
        }
    }

    /** Individual Pot Grid **/
    .userPots {
        .potBox {
            a {
                color: $offWhite;
                text-decoration: none;
            }
            .potInner {
                background:  #42445A;
                border: 0;
                box-shadow: $boxShadow;
                &:after {
                    background-color: #42445A;
                }
                .clayType {
                    border: 2px solid $teal;
                    color: $teal;
                }
            }
        }
    }

    /** File Upload **/
    .uploadPotFormContainer {
        background: $lightBlue;
        box-shadow: $boxShadow;
    }

    .uploadPotForm {

        .errorMsg {
            color: $red;
        }

        input, textarea, select {
            border: 2px solid $teal;
            background: $lightBlue;
            color: $offWhite;
            
            &.error {
                border: 2px solid $red;
            }

            &[type=submit] {
                border: 0;
                background: $orange;
            }
        }

    }
}